.container {
    max-width: 1080px;
}

.divider:after,
.divider:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
}

.h-custom {
    height: 1000px;
}

@media (max-width: 450px) {
    .h-custom {
        height: 100%;
    }
}