h1 {
    font-family: 'Public Sans';
}

footer {
    background-color: #FDF6EF;
    height: 65px;
    max-width: 720px;
}

footer .row {
    height: 65px
}


footer p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 6.6px;
    line-height: 8px;
    color: #929292;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 20px;
    padding-bottom: 10px;
}

/* ------ CUSTOMIZE CONTENT START ------ */
.countdown {
    position: absolute;
    width: 562.5px;
    height: 161.67px;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 185.83px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1);
}

.countdown-hide {
    display: none;
}

.countdown h1 {
    font-family: 'Mr Banks';
    font-style: normal;
    font-weight: 800;
    color: #D52B1E;
    font-size: 36.6667px;
    line-height: 44px;
    text-align: center;
    margin-top: 11px;
}

.countdown p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 150%;
    color: #585858;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 10px;
}

/* Bắt đầu CSS đồng hồ */
.count-down-timer {
    line-height: 99%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 210px;
}

.count-down-timer .wrapper .times {
    display: grid;
    grid-template-columns: 60px 10px 40px 10px 40px 10px 40px;
    margin-left: auto;
    margin-right: auto;
    width: 210px;
}


.count-down-timer .wrapper .times p {
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 99%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.133333px;
    color: rgba(213, 43, 30, 0.8);
    padding-left: 0;
    padding-right: 0;
}

/* Kết thúc CSS đồng hồ*/

.gallery {
    margin-top: 130px;
    height: 670px;
    overflow-x: hidden;
    overflow-y: auto;
}

.gallery::-webkit-scrollbar {
    width: 1px; /* Điều chỉnh chiều rộng của thanh cuộn */
}

.gallery::-webkit-scrollbar-thumb {
    background-color: transparent; /* Ẩn thanh cuộn */
}

.box {
    margin-bottom: 11px;
    height: 142px;
}

.img-block {
    position: relative;
    width: 120px;
    height: 142px;
    margin: auto;
}

.nodata {
    display: none;
}

.nodata-empty {
    display: block;
    width: 448px;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-family: 'Public Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 10.6px;
    line-height: 150%;
    text-align: center;
    color: #585858;
}

#demo {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.green {
    background-color: #6fb936;
}

.thumb {
    margin-bottom: 30px;
}

.page-top {
    margin-top: 85px;
}

img.zoom {
    width: 100%;
    height: 190px;
    border-radius: 5px;
    object-fit: cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}

.transition {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.modal-header {
    border-bottom: none;
}

.modal-title {
    color: #000;
}

.modal-footer {
    display: none;
}

.row {
    margin-left: 40px;
    margin-right: 40px;
}

.title_photo {
    font-size: 35px;
    font-family: 'Mr Banks';
    font-style: normal;
    font-weight: 800;
    color: #D52B1E;
    line-height: 44px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media screen and (max-width: 430px) {

    .carousel-item {
        height: 100%;
    }

    .carousel {
        margin-bottom: 0;
    }

    .countdown {
        top: 100px;
        width: 90%;
        height: 130px;
    }

    .countdown h1 {
        font-size: 35px;
        line-height: 35px;
        margin-top: 10px;
    }

    .count-down-timer .wrapper .times p {
        font-size: 30px;
        line-height: 99%;
    }

    .gallery {
        margin-top: 130px;
        overflow-y: hidden;
    }

    .nodata-empty {
        display: block;
        width: 90%;
        font-size: 14px;
        line-height: 100%;
        margin-bottom: 20px;
    }

    .reachforgreat {
        width: 90%;
        height: 60px;
    }

    footer {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    footer p {
        font-weight: 400;
        font-size: 10px;
        line-height: 12px;
        padding-top: 10px;
        padding-bottom: 0px;
    }
}